/* General */
html {
  background: url("last_stand_2015_july_selgauss_centered.jpg") no-repeat -60px bottom fixed;
  background-position-y: -500px;
}
@media (min-width:576px) { 
  html {
    background-size: 200%; 
    background-position-y: -80vw;
  }
}
body {
  background-color: transparent;
}


/* Layout */
.container {
  padding-top: 1em;
}


/* Typography */
h1 { font-size: 22px; }
a { 
  color: #0ff; 
  text-shadow: #000 1px 1px 1px;
}
.info {
  font-size: 12px;
  text-shadow: #fff 1px 1px 1px;
}
.current {
  text-shadow: #fff 1px 1px 1px;
}

/* Tables */
table.headroom {
  margin-top: 20px;
}
.table thead th {
  border-bottom: 2px solid black;
}
.table td + td {
  width: 25%
}
.table td {
  /*padding: 0.25rem;*/
}
.weekend tr, .weekend td {
  background-color: rgba(128,255,128,0.5);
}
.longweekend tr, .longweekend td {
  background-color: rgba(220,255,220,0.5);
}
table.minimal {
  margin: 5px 0;
}
table.minimal td {
  padding: 0 5px;
}


/* Form */
input.form-control-sm {
  display: inline-block;
  padding: 0 0.25rem;
}
input#days, input#depth { width: 40px; }
input#startHour, input#endHour { width: 27px; }
@media (min-width: 576px) {
  input#days, input#depth { width: 55px; }
  input#startHour, input#endHour { width: 47px; }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.btn-primary {
  color: #333;
  background-color: #80f080;
  border-color: #808080;
}
.btn-primary:hover {
  color: #000;
  background-color: #80ff80;
  border-color: #000;
}
.btn-default {
  color: #333;
  background-color: #e0e0e0;
  border-color: #808080;
}
.btn-default:hover {
  color: #000;
  background-color: #efefef;
  border-color: #000;
}


/* Utilities */
.text-back {
  background-color: rgba(255,255,255,0.5);
}

.info i {
  font-family: monospace;
}


/* Specific */
.intro {
  padding: 1.0em;
  margin-top: 20px;
}
.current {
  margin-top: 10px;
  font-size: 12px;
  display: table;
  width: 100%;
}
.current > div {
  display: table-row;  
}
.current .time,
.current .conditions {
  display: table-cell;
  vertical-align: bottom;
}
.current .conditions {
  text-align: right;
}
.btn-default {
  float: right;
}