/* General */
html {
  background: url("http://gerbus.ca/sites/laststand/img/last_stand_2015_july_selgauss_centered.jpg") no-repeat -60px bottom fixed;
  background-position-y: -500px;
}
@media (min-width:576px) { 
  html {
    background-size: 200%; 
    background-position-y: -80vw;
  }
}
body {
  background-color: transparent;
}


/* Layout */
.container {
  padding-top: 1em;
}


/* Typography */
h1 { font-size: 24px; }


/* Tables */
table.headroom {
  margin-top: 20px;
}
.table thead th {
  border-bottom: 2px solid black;
}
.table td + td {
  width: 25%
}
.table td {
  /*padding: 0.25rem;*/
}
.weekend tr, .weekend td {
  background-color: rgba(128,255,128,0.5);
}
.longweekend tr, .longweekend td {
  background-color: rgba(220,255,220,0.5);
}
table.minimal {
  margin: 5px 0;
}
table.minimal td {
  padding: 0 5px;
}


/* Form */
input.form-control-sm {
  display: inline-block;
  padding: 0 0.25rem;
}
input#days, input#depth { width: 35px; }
input#startHour, input#endHour { width: 27px; }
@media (min-width: 576px) {
  input#days, input#depth { width: 55px; }
  input#startHour, input#endHour { width: 47px; }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* Utilities */
.text-back {
  background-color: rgba(255,255,255,0.5);
}
.info {
  font-size: 11px;
}
.info i {
  font-family: monospace;
}


/* Specific */
.intro {
  padding: 1.0em;
  margin-top: 20px;
}